#acm-footer{
    background-color: #f8f9fa;
    color: black;
    .btn{
        border-radius: 50%;
        margin: 0.5rem
    }
    .footer-nav{
        flex-wrap: wrap;
        span{
            color: gray;
            padding: 0.5rem 1rem;
        }
    }
}