$cardColor: #1c2e4c;
@mixin absolute-zero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-columns {
  column-count: 1;
  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 1200px) {
    column-count: 3;
  }
}
.card-img-overlay {
  .card-block {
    @include absolute-zero;
    padding: 1.25rem;
    z-index: 1;
  }
  &::after {
    content: '';
    @include absolute-zero;
    z-index: 0;
    background-color: rgba($cardColor, .8);
    transition: all .3s ease-in-out;
  }
  &:hover {
    &::after {
      background-color: rgba($cardColor, .4);
    } 
  }
}