#blog-container{
    padding-top: 80px;
    .blog-card{
        .blog-date{
            font-size: 12px;
        }
        .blog-text{}
        .blog-author{
            font-size: 12px;
        }
    }
}

.hover-box{
    transition: box-shadow .5s ease;
    &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
}