#blog-container{
    padding-top: 80px;
    .blog-card{
        .blog-date{
            font-size: 12px;
        }
        .blog-text{}
        .blog-author{
            font-size: 12px;
        }
    }
}